
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: aqua;
}

/* try navigation 1 */

/* nav{
    padding: 10px;
    display: flex;
    justify-content: right;
    align-items: center;
    flex-wrap: wrap;
    background-color: blue;
}


nav a{
 
    margin-left: 40px;
    color: white;
    text-decoration: none;
    
} */




/* <!-- <h2>Try Navigation two</h2> --> */


nav{
    display: flex;
    text-align: center;
    justify-content: right;
    background-color: blueviolet;
    padding: 10px;
}

nav ul li{
    display: inline-block;
    list-style: none;
    padding-left: 10px;
}

nav ul li a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
    
}